[Unit]
Description = Sonarqube Service

[Service]
User=sonar
ExecStart=/opt/sonarqube/sonarqube-10.5.0.89998/bin/linux-x86-64/sonar.sh start
SyslogIdentifier=sonarqube
Type=forking

[Install]
WantedBy=multi-user.target