[Unit]
Description = Prometheus Server Service

[Service]
User=bin
WorkingDirectory=/opt/prometheus-{{ version }}.linux-amd64
ExecStart=/opt/prometheus-{{ version }}.linux-amd64/prometheus
SyslogIdentifier=prometheus

[Install]
WantedBy=multi-user.target